@model IEnumerable<Assignment3_SP2023_rggrant1.Models.MovieActor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="color: white; font-size: 25px; font-family: 'Courier New', monospace; text-decoration:underline,overline">
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color: white; font-size: 20px; font-family: 'Courier New', monospace; text-decoration:underline,overline">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieActorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieActorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieActorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
